div {
	font-family: vardhana;
	font-size:1.5rem;
	font-weight: 300;
	color:white;
	text-align: center;
	margin-top: 10px;
	margin-bottom:100px;
	text-shadow: 0px 0px 5px white;
}

.video_selector {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;  
	height: 125%;
	z-index: -999;

}

body {
	background-size:cover;
}

/* 스마트폰 (가로용) ----------- */
@media only screen
and (min-width : 321px) {
	/* Styles */
}

/*스마트폰 (세로용) ----------- */
@media only screen
and (max-width : 320px) {
	/* Styles */
}